<!DOCTYPE HTML>
<html>

<%- include("includes/head/head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<%- include("includes/navbar/navbar") -%>
		<%- include("includes/header/header-index") -%>

		<%- include("includes/content/menu.ejs") -%>

		<%- include("includes/content/services.ejs") -%>


	  <%- include("includes/content/text") -%>
		

	  <%- include("includes/content/facts") -%>

		<%- include("includes/content/subscribe.ejs") -%>

    <%- include("includes/footer/footer") -%>

	</div>

  <%- include("includes/footer/gototop") -%>
  <%- include("includes/footer/scripts") -%>

</body>

</html>